<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Tabela de Ninjas</title>
    <link rel="stylesheet" th:href="@{/ninjas/ninjas.css}"> <!-- Importa o CSS externo -->
</head>
<body>
<h1>Lista de Ninjas</h1>
<a class="btn-adicionar" th:href="@{/ninjas/ui/adicionar}">Adicionar Novo Ninja</a>
<table> <!-- Tag para criar uma tabela no thymeleaf -->
    <thead> <!-- Tag para criar um cabeçalho de uma tabela. O 't' é de 'thymeleaf' -->
    <tr>
        <th>Id</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missões</th>
    </tr>
    </thead>
    <tbody> <!-- Tag para colocar informações no corpo da tabela. O 't' é de 'thymeleaf'. -->
    <tr th:each = "ninja : ${ninjas}"> <!-- '${ninjas}' vem de 'NinjaController.java' do endpoint "/listar" -->
        <td th:text="${ninja.id}"></td>
        <td> <img th:src="${ninja.imgUrl}" width="100" height="100"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.idade}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <!-- <td th:text="${ninja.missoes}"></td>  esta linha não é possível por causa do loop infinito de missoes como FK -->
        <td>
            <span th:if="${ninja.missoes}"><span th:text="${ninja.missoes.nome}"></span>, Dificuldade: <span th:text="${ninja.missoes.dificuldade}"></span></span>
            <span th:if="${ninja.missoes == null}">Sem Missões cadastradas para o ninja</span>
        </td>
        <td>
            <a th:href="@{/ninjas/ui/listar/{id}(id=${ninja.id})}">Ver detalhes</a>
            <a th:href="@{/ninjas/ui/#/{id}(id=${ninja.id})}">Alterar</a>
            <a th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}">Deletar</a> <!-- O '@' é porque está se passando um link, transformando o label 'Deletar' em um link. -->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

<!-- 📌 3. Por que não tem <form> em listarNinjas.html
O listarNinjas.html é uma tabela de listagem.
Seu papel é:

Mostrar todos os ninjas cadastrados,

Oferecer links ou botões para ver detalhes, editar ou deletar.

A interação é feita via:

Links (<a>) para navegar para outras páginas,

Ou formulários pequenos dentro de cada linha da tabela apenas para ações específicas (como deletar).

Se não há um cadastro ou edição direto na listagem, não há <form> para toda a página — apenas ações pontuais. -->